<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Meerthika</title>
</head>
<div class="scale-container">
    <body>
        <div class="main-body">
         <div class="image">
             <img src="/static/images/go.png" alt="My Image" width="300">
             <h3>Written in GO</h3>
           </div>
         <div class="name-text">
             <h2>Hi ,I am</h2>
             <div class="ascii-art-container">
              <img src="/static/images/m2.png" alt="My Image" style="width: 100%; max-width: 300px; height: 70px; display: block; margin: -20px auto;">
            </div>
         <pre id="name" style="text-align: center;"> <b>                                                                 
             <h3 style="text-align: center;">Gopher | B.E (Hons) CSE'27 | Gold Medalist (9.4 CGPA)</h3>
        </pre>
        <div style="text-align: center; margin-top:-10px; padding:10px;">
          <button class="button-89">Resume</button>
        </div>
        
        </div>
        
        
        <!-- SECTION I -->
     
        <div class="terminal">
         <div id="skills" class="skills">
             <div class="skill-set">
                 <h5>
                     <b>Languages: </b>Golang, Java, Python <br>
                         </h5>
                 <h5 id="tools"><b>Tools: </b>AWS, SpringBoot, Docker, Redis, Ngnix, Terraform</h5>
                 <h5 id="tools"><b>CyberTools: </b>GoBuster, Nmap, WireShark</h5>
             </div>
            </div>

            <!-- SECTION II -->
            
            <div class="card-container" >
             <div class="card1">
                 <h3>Projects</h3>
             </div>
             <div class="card">
               <h3>GO Scheduler</h3>
               <p>This project emulates Go's runtime scheduler and models goroutines using its M:N scheduler.</p>
               <p>Tech: GO</p>
               <div class="card-links">
                 <a href="https://github.com/mery-top/GO-Scheduler">Github</a>
              </div>
             </div>
             <br>
             <div class="card">
               <h3>Code Runner</h3>
               <p>This project allows users to submit code via frontend and compiles in Docker + Redis Queue.</p>
               <p>Tech: GO</p>
               <div class="card-links">
                 <a href="https://github.com/mery-top/go_CodeRunner">Github</a>
               </div>
             </div>
             <br>
             <div class="card">
               <h3>Potato Blogs</h3>
               <p>A simple blog application - create and view blogs through various API endpoints (CRUD) and DB.</p>
               <p>Tech: GO</p>
               <div class="card-links">
                 <a href="https://github.com/mery-top/go_blogs">Github</a>
               </div>
             </div>
           </div>
           <div class="card-container" style="margin-top:40px;">
             <div class="card1">
                 <h3></h3>
             </div>
             <div class="card">
               <h3>Cloud Abstractor</h3>
               <p>This is a lightweight Go application that enables deployment across multiple cloud Platforms.</p>
               <p>Tech: GO</p>
               <div class="card-links">
                 <a href="https://github.com/mery-top/go_multi_cloud">Github</a>
               </div>
             </div>
             <br>
             <div class="card">
               <h3>IPFS Blockchain</h3>
               <p>This project connects and Uploads files to IPFS and retrieves its unique CID (Content Identifier).</p>
               <p>Tech: GO</p>
               <div class="card-links">
                 <a href="https://github.com/mery-top/go_ipfs">Github</a>
               </div>
             </div>
             <br>
             <div class="card">
               <h3>ServerHealth-CLI</h3>
               <p>A Go CLI app that simulates checking the response time of multiple servers using goroutines.</p>
               <p>Tech: GO</p>
               <div class="card-links">
                 <a href="https://github.com/mery-top/go_serverHealth_CLI">Github</a>
               </div>
             </div>
           </div>
           <br>
           <br>
          </div>
           
     <!-- SECTION III -->
     <br>
     
      
     </div>
          
        <div class="card-container">
         <div id="blogs" class="card2">
             <h3 style="margin-top: 5px;">View Blogs@</h3>
         </div>
         <div class="card2">
             <div class="card-links">
               <a href="https://dev.to/meerthika/go-scheduler-understanding-why-goroutines-are-so-lightweight-3ka8" style="color: black;"><b>Why Goroutines Are So Lightweight</b></a>
             </div>
         </div>
         <div class="card2">
             <div class="card-links">
               <a href="https://dev.to/meerthika/subnets-2i3b" style="color: black;"><b>Subnets- Creating a Go Subnet Planner</b></a>
             </div>
         </div>
         <div class="card2">
             <div class="card-links">
               <a href="https://dev.to/meerthika/routing-10l7" style="color: black;"><b>Routing</b></a>
             </div>
         </div>
         <br>
        </div>
     
     <!-- SECTION IV -->
     
     <div class="terminal">
            <h4>6x Hackathon Wins</h4>
            
            <div class="card-container">
             <div class="card3">
               <h3>TechDivathon -Winner
                 <br>[Feb 2025]
               </h3>
             </div>
             <div class="card3">
               <h3>Buildathon -Winner
                 <br>[March 2025]
               </h3>
             </div>
             <div class="card3">
              <h3>CloudNova -Winner
                <br>[April 2025]
              </h3>
            </div>
            <div class="card3">
              <h3>HackTheHorizon - Top2
                <br>[March 2025]
              </h3>
            </div>
          <div class="card3">
              <h3>Thinkathon -Winner
                  <br>[Dec 2024]
                </h3>
          </div>
          <div class="card3">
              <h3>CodefreiAI -Runner
                  <br>[March 2025]
                </h3>
          </div>
           </div>
           <br>
        </div>
     
     
       <!-- SECTION V -->
     
     <div id="connect" class="footer">
         <br>
         <h3>Connect With Me</h3>
         <div class="visit-links">
             <a href="https://github.com/mery-top">Github</a>
             <a href="https://www.linkedin.com/in/meerthika/">LinkedIn</a>
             <a href="https://leetcode.com/u/mery_top/">LeetCode</a>
             <a href="https://dev.to/meerthika">Dev.to</a>
           </div>
     
           <br>
     </div>
</div>
</html>